---
BasedOnStyle: LLVM
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
NamespaceIndentation: All
IndentCaseLabels: true
ColumnLimit: 0
AccessModifierOffset: -4
FixNamespaceComments: true
SpaceBeforeInheritanceColon: true
BreakInheritanceList: AfterColon
IndentPPDirectives: BeforeHash
ForEachMacros: ["__dummy_foreach"]
AlignConsecutiveMacros: true
SpaceBeforeParens: ControlStatementsExceptControlMacros