[submodule "src/libs/mlibc"]
	path = src/libs/mlibc
	url = https://github.com/Diamantino-Op/mlibc.git
	branch = horizon-mlibc
[submodule "deps/uacpi"]
	path = deps/uacpi
	url = https://github.com/uACPI/uACPI.git
	branch = master
[submodule "deps/flanterm"]
	path = deps/flanterm
	url = https://codeberg.org/mintsuki/flanterm.git
	branch = trunk
[submodule "deps/chdrs"]
	path = deps/chdrs
	url = https://codeberg.org/osdev/freestnd-c-hdrs.git
	branch = trunk
[submodule "deps/cxxhdrs"]
	path = deps/cxxhdrs
	url = https://codeberg.org/osdev/freestnd-cxx-hdrs.git
	branch = trunk
[submodule "deps/llvm"]
	path = deps/llvm
	url = https://github.com/llvm/llvm-project.git
	branch = release/21.x
[submodule "deps/limine"]
	path = deps/limine
	url = https://codeberg.org/Limine/Limine.git
	branch = v10.x-binary
[submodule "deps/limine_protocol"]
	path = deps/limine_protocol
	url = https://codeberg.org/Limine/limine-protocol.git
