/iso/
/out/
/.idea/
/build/
/deps/llvm/
/deps/ovmf/
/deps/nanoprintf/
/deps/linux_kernel/
/deps/linux-headers-*
Token.txt
.fuse_*
.wraplock

/deps/chdrs
/deps/cxxhdrs
/deps/flanterm
/deps/limine
/deps/limine_protocol
/deps/llvm
/deps/uacpi

/libs/sysroot
/libc/mlibc
/libc/tcmalloc
/toolchain