/iso/
/out/
/.idea/
/build/
Token.txt
.fuse_*
.wraplock

/deps/chdrs
/deps/cxxhdrs
/deps/doxygen-awesome-css
/deps/flanterm
/deps/limine
/deps/limine_protocol
/deps/linux-headers-x86_64
/deps/llvm
/deps/nanoprintf
/deps/ovmf
/deps/uacpi

/libs/sysroot
/libs/mlibc
/libs/tcmalloc
/toolchain
/docs